<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cameraplugin.blacktorchstudios.camera_plugin">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true" android:label="Camera Plugin"
        android:supportsRtl="true">

        <activity android:name="CameraActivity"
            android:label="Camera Plugin"
            android:noHistory="false"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
        </activity>
        <activity android:name=".IntermediateActivity">
        <intent-filter>
            <action android:name="blacktorchstudios.IntermediateActivity" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    </application>
</manifest>
